# The name of the colony on which to train spies
train_on:       vom5

# The name of the colony to transfer the spies to
transfer_to:    wae5

# The amount of time to wait for training to complete (in minutes)
training_delay: 40

# The amount of time to wait while the spies are transferred (in minutes)
transfer_delay: 15

