# Lacuna server, username and password
uri:            'https://us1.lacunaexpanse.com'
username:       'my_empire_name'
password:       'my_secret_password'

# lacuna sqlite database, relative to script directory
db_file:        '../db/lacuna.db'

# Set true if you want an indication of every hit to the server
# useful to detect excessive calls that may hit the 5000 a day limit
debug_hits:     1
